<table>
{% for entry in entries %}

<tr>
  <td><b>  {{ entry.user }}:</b></td>
    <td>- {{ entry.timestamp.split(':')[0] }}:{{ entry.timestamp.split(':')[1] }}</td>
  <td>- {{ entry.text|safe }}</td>
</tr>
{% endfor %}
</table>