{% extends "layout.html" %}
{% block body %}

    <h2>Wpisy</h2>
    <iframe src="entries" width="100%" height="80%" class="entries" id="newIFrame">

    </iframe>
    <script>
        var iframe = document.getElementById('newIFrame');
        setInterval(function(){iframe.src = iframe.src;},5000);
    </script>
    {% if session.logged_in %}
        <form action="{{ url_for('add_message') }}" method="POST" class="add_entry">
            <div class="field">
                <textarea name="message" id="message" rows="5" cols="80"></textarea>
            </div>
            <div class="control_row">
                <input type="submit" name="share" value="Podziel się"/>
            </div>
        </form>
    {% endif %}

{% endblock %}